@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info .blog > div a, .info .social a, .info .details a, .content a {
  text-decoration: none;
}
.info .blog > div a:visited, .info .social a:visited, .info .details a:visited, .content a:visited {
  color: #A7C353;
}
.info .blog > div a:active, .info .social a:active, .info .details a:active, .content a:active {
  text-decoration: underline;
}
.info .blog > div a:hover, .info .social a:hover, .info .details a:hover, .content a:hover {
  color: #1a7f1d;
}

body {
  min-width: 850px;
  background-color: #313131;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.upLine {
  height: 5px;
  background-color: #A7C353;
}

.main {
  padding: 0 20px;
  background-color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #A7C353;
}
header .logo {
  width: 170px;
}
header .logo p {
  text-transform: uppercase;
  font-size: 26px;
  line-height: 26px;
  font-family: Georgia;
  color: #666666;
}
header .logo p span {
  font-size: 32px;
  line-height: 32px;
  font-family: Georgia;
  color: #666666;
}
header .logo span {
  font-size: 12px;
  line-height: 12px;
  font-family: Georgia;
  color: #999999;
}
header nav a {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15.6px;
  font-family: Georgia;
  color: #979797;
  padding: 52px 22px 33px 20px;
  text-decoration: none;
  display: inline-block;
}
header nav a.current {
  background-color: #A7C353;
  color: white;
}
header nav a:hover {
  background-color: #1a7f1d;
  color: white;
}
header nav :last-child {
  padding-right: 0;
}

.shout {
  font-size: 22px;
  line-height: 30.8px;
  font-family: Georgia;
  color: #666666;
  font-style: italic;
  text-align: center;
  padding: 45px 105px 40px 105px;
}

/* Собственно сам слайдер */
.slider {
  max-width: 100%;
  position: relative;
  height: 350px;
  margin-bottom: 20px;
}

/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
  object-fit: cover;
  width: 100%;
  height: 350px;
  border: none !important;
  box-shadow: none !important;
}

/* Кнопки вперед и назад */
.slider .prev, .slider .next {
  cursor: pointer;
  position: absolute;
  margin-left: 10px;
  top: 43%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 11px;
  transition: 0.6s ease;
  text-align: center;
}

.slider .next {
  right: 10px !important;
}

/* При наведении на кнопки добавляем фон кнопок */
.slider .prev:hover,
.slider .next:hover {
  background-color: #000;
  border: 1px solid #A7C353;
}

/* Заголовок слайда */
.slideText {
  position: absolute;
  color: #fff;
  font-size: 35px;
  /* Выравнивание текста по горизонтали и по вертикали*/
  right: 60px;
  top: 210px;
}
.slideText h3 {
  font-size: 22px;
  line-height: 30.8px;
  font-family: Georgia;
  color: #fff;
  text-align: center;
  width: 350px;
  font-weight: 400;
  background-color: #A7C353;
  margin: 10px 0;
  padding: 5px 0;
}
.slideText p {
  font-size: 13px;
  line-height: 15.6px;
  font-family: Georgia;
  color: #999999;
  background-color: #fff;
  padding: 11px;
  width: 350px;
}

/* Кружочки */
.slider-dots {
  text-align: center;
  margin-bottom: 36px;
}

.slider-dots_item {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #A7C353;
  border: 1px solid #A7C353;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
  background-color: #fff;
}

/* Анимация слайдов */
.slider .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.content {
  border-top: 1px solid #E2E2E2;
  padding: 40px 0;
  display: flex;
}
.content h3 {
  font-size: 22px;
  line-height: 26.4px;
  font-family: Georgia;
  color: #666666;
  font-weight: 400;
}
.content p {
  font-size: 13px;
  line-height: 18.2px;
  font-family: Georgia;
  color: #868686;
}
.content h4 {
  font-size: 14px;
  line-height: 16.8px;
  font-family: Georgia;
  color: #878787;
  font-weight: 700;
}
.content a {
  font-size: 13px;
  line-height: 13px;
  font-family: Georgia;
  color: #A7C353;
  text-align: right;
  display: block;
}
.content .about {
  width: 33.33%;
}
.content .about img {
  margin: 30px 0 20px 0;
}
.content .about p {
  margin-bottom: 20px;
}
.content .services {
  width: 33.33%;
  margin: 0 40px;
}
.content .services h3 {
  margin-bottom: 30px;
}
.content .services .serv {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
}
.content .services .serv img {
  margin-right: 20px;
}
.content .services .serv h4 {
  margin-bottom: 10px;
}
.content .clients {
  width: 33.33%;
}
.content .clients h4 {
  font-size: 16px;
  line-height: 19.2px;
  font-family: Georgia;
  color: #989898;
  font-weight: 700;
}
.content .clients p {
  margin-bottom: 9px;
}
.content .clients .project {
  display: flex;
  align-items: center;
  margin: 20px 0 10px 0;
}
.content .clients .project img {
  margin-right: 12px;
}

.info {
  display: flex;
  padding: 40px 0 30px 0;
  border-bottom: 1px solid #3A3A3A;
}
.info h3 {
  font-size: 16px;
  line-height: 19.2px;
  font-family: Georgia;
  color: #FFFFFF;
  font-weight: 400;
  border-bottom: 1px solid #3A3A3A;
  padding-bottom: 15px;
}
.info p {
  font-size: 12px;
  line-height: 19.2px;
  font-family: Georgia;
  color: #999999;
}
.info .details {
  width: 25%;
  margin-right: 20px;
}
.info .details a {
  font-size: 12px;
  line-height: 19.2px;
  font-family: Georgia;
  color: #A7C353;
}
.info .details div {
  margin-top: 17px;
}
.info .details .hours {
  font-weight: 700;
}
.info .social {
  width: 25%;
  margin-right: 20px;
}
.info .social a {
  font-size: 12px;
  line-height: 14.4px;
  font-family: Georgia;
  color: #A7C353;
}
.info .social > div {
  padding: 14px 0 7px 0;
  border-bottom: 1px solid #3A3A3A;
}
.info .social .icon_width {
  background-color: #383838;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  color: #FFF;
  text-align: center;
  vertical-align: middle;
  padding: 9px;
  font-size: 14px;
  margin-right: 10px;
}
.info .blog {
  width: 25%;
  margin-right: 20px;
}
.info .blog > div {
  padding: 14px 0 7px 0;
}
.info .blog > div h4 {
  font-size: 13px;
  line-height: 15.6px;
  font-family: Georgia;
  color: #999999;
  font-weight: 700;
}
.info .blog > div p {
  font-size: 12px;
  line-height: 19.2px;
  font-family: Georgia;
  color: #999999;
}
.info .blog > div .post {
  font-size: 11px;
  line-height: 13.2px;
  font-family: Georgia;
  color: #999999;
  padding: 5px 0 8px 0;
}
.info .blog > div a {
  font-size: 12px;
  line-height: 14.4px;
  font-family: Georgia;
  color: #A7C353;
  display: block;
  text-align: right;
  margin-top: 15px;
}
.info .contact {
  width: 25%;
}
.info .contact label {
  display: none;
}
.info .contact input, .info .contact textarea {
  border-radius: 5px;
  background-color: #383838;
  width: 100%;
  margin-bottom: 10px;
  padding: 6px 12px;
  border: none;
  font-size: 13px;
  line-height: 20.58px;
  font-family: Georgia;
  color: #989898;
}
.info .contact input:first-child, .info .contact textarea:first-child {
  margin-top: 19px;
}
.info .contact input:focus, .info .contact textarea:focus {
  outline: none;
  border-radius: 5px;
  border: 1px solid #fff;
}
.info .contact input:last-child, .info .contact textarea:last-child {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20.58px;
  font-family: Georgia;
  color: #313131;
  background-color: #A7C353;
  width: 80px;
  font-weight: 700;
  cursor: pointer;
}
.info .contact input:last-child:hover, .info .contact textarea:last-child:hover {
  background-color: #1a7f1d;
}
.info .contact input:last-child:focus, .info .contact textarea:last-child:focus {
  outline: none;
  border: none;
}
.info .contact textarea {
  resize: none;
}

.copyright {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 12px;
  font-family: Georgia;
  color: #999999;
  padding: 20px 0;
}

@media only screen and (max-width: 950px) {
  header nav a {
    padding: 52px 2px 33px 2px;
  }

  .slideText {
    display: none;
  }

  .copyright {
    flex-direction: column;
    align-items: center;
  }
  .copyright p {
    padding-bottom: 10px;
    flex-grow: 1;
  }
}

/*# sourceMappingURL=style.css.map */
